header h1 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(232, 238, 238)
}
body{
    text-align: left ;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 12px;
    background-color:lightpink;
    background-image: url(https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: medium;
    border: 10px ;
}
div.Starters h1 {
    color: rgb(35, 111, 211);
    font-weight; bold   ;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
div.Mains h1 {
    color: lightskyblue;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.Desserts h1 {
    color: rgb(35, 38, 202);
    font-weight: bold;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;       
}
p {
    font-size: 20px;
    color: gold;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    
}
.Starters h2,
.Mains h2,
.Desserts h2 {
  font-size: 1.15;
  margin: 16px 0;
  line-height: 1.4;
  color:white;
  
}

.Starters h2:hover,
.Mains h2:hover,
.Desserts h2:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.Starters h2:hover + p,
.Mains h2:hover + p,
.Desserts h2:hover + p {
  color:red;
  
}

aside img {
    width: 200px;
    margin: 10px;
    border-radius: 6cpx;
}